:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* my styles */
header {
  display: flex;
  justify-content: center;
  min-height: 100px;
  background-color: #222222;
}

.wrapper_header {
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: center;
}

.wrapper_header a {
  text-align: center;
  color: #ededed;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 25px;
}

h1 {
  text-align: center;
}
