.wrapper_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 147rem;
  padding: 0 2.5rem;
}

.wrapper_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

.card-wrapper {
  padding: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  align-self: normal;
  overflow: hidden;
  a {
    text-decoration: none;
  }
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #222;
  /* text-shadow: 1px 1px 1px  #ffffff; */
  -webkit-text-stroke: 1px #FFFFFF; /* Толщина и цвет обводки */
}

.image-wrapper {
  overflow: hidden;
  height: 300px;
}
.image {
  max-width: 100%;
}

.card_title {
  background: #f0f0f0; 
  padding: 10px; 
  height: 100%;
  h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
  }
}

/* buttons */

button {
  padding: 0;
  margin: 2px;
  border: 1px solid rgba(255, 255, 255, 0.838);
  color: inherit;
  background-color: transparent;
  border-radius: 12px;
  height: 56px;
  width: 56px;
  background: rgba(0, 149, 255, 0.282);
}

.action_button {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.card_icon {
  width: 24;
  height: 24;
  cursor: pointer;
}

/* Media Queries */

/* @media (max-width: 768px) {
  .card .image-wrapper {
    height: 55%;
  }
  .card .content-wrapper .actions .button {
    width: 100%;
    float: none;
    margin: 0 0 2% 0;
  }
} */
